.temp
.cache
.vscode-test
.npm
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.cache
.turbo

*.log
*.pid
*.pid.lock
*.lcov
*.tsbuildinfo

node_modules
coverage
out
dist
dist-types
_compiled
styled-system